div#company-info {
  font-size: small;
}

div#site-credits {
  font-size: small;
  text-align: right;
}

div#footer {
  border-top: 1px solid #cdcdcd;
  margin-top: 15px;
  /*padding-top: 5px;*/
  padding: 10px;
  background-color: #f8f9fa;
}
