.strapline {
    font-style: italic;
    vertical-align: text-bottom;
}

div#header {
    text-align: center;
}

img#header-logo {
    max-width: 40%;
}

h1.site-title {
    font-family: 'Secular One', sans-serif;
    color: steelblue;
}