.dataTable > thead > tr > th[class*="sort"]:before,
.dataTable > thead > tr > th[class*="sort"]:after {
    content: "" !important;
}
.dataTable > thead > tr > th {
    padding: 5px !important;
}

h4.table-caption {
    text-align: center;
    margin-top: 10px;
}

.vertical-text {
    writing-mode: vertical-rl;
    margin-right: 30px;
    /*transform: rotate(90deg);*/
    /*-ms-writing-mode: tb-lr;*/
    /*-webkit-writing-mode: tb-lr;*/
    /*-moz-writing-mode: tb-lr;*/
    /*writing-mode: tb-lr;*/

    /*-ms-writing-mode: vertical-lr;*/
    /*-webkit-writing-mode: vertical-lr;*/
    /*-moz-writing-mode: vertical-lr;*/
    /*writing-mode: vertical-lr;*/

    /*-ms-writing-mode: sideways-lr;*/
    /*-webkit-writing-mode: sideways-lr;*/
    /*-moz-writing-mode: sideways-lr;*/
    /*writing-mode: sideways-lr;*/
}

thead tr {
    background-color: steelblue;
}

thead tr th {
    color: white;
}

/*tr.column-header-row {*/
/*    background-color: steelblue;*/
/*}*/

/*tr.column-header-row th {*/
/*    color: white;*/
/*}*/

span.yes {
    color: green;
    /*font-weight: bold;*/
}

span.no {
    color: red;
    /*font-weight: bold;*/
}

table, tr, th, td {
    color: #555555;
}


table, tr {
    border: 1px #cdcdcd solid;
    width: 100%;
}

th, td {
    vertical-align: top;
    padding: 5px;
    border: 1px #efefef solid;
    /*font-size: 90%;*/
}

th {
    font-weight: bold;
    white-space: nowrap;
}

table.invisible-layout-table {
    border: none;
    width: auto;
}

table.invisible-layout-table tr, table.invisible-layout-table td {
    border: none;
}

td.field-name {
    text-align: right;
    font-weight: bold;
    white-space: nowrap;
}

/*td.field-name::after {*/
/*    content: ":";*/
/*    font-weight: bold;*/
/*}*/

.more-details-link {
    float: right;
}

td.number {
    text-align: right;
    font-family: Courier, monospace;
    white-space: nowrap;
}

