div.tab-content {
    width: 100%;
}

div.scrollable-tab-content {
    overflow-y: scroll;
    max-height: 600px;
}

li.nav-item button.nav-link {
    color: #23527c !important;
    text-decoration: underline;
}

.tab-general {
    background-color: #def3fd !important;
}

.tab-governance {
    background-color: #fcf7de !important;
}

.tab-features {
    background-color: #fddfdf !important;
}

.tab-editorial {
    background-color: #f0defd !important;
}