{{ define "main" }}
    <div class="row">
        <div class="col">
            <h1 class="page-title">{{ .Title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ .Content }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-sm table-striped sortable-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Repositories</th>
                    <th>Services</th>
                </tr>
                </thead>
                <tbody>
                {{ range .Data.Pages }}
                    {{ if or (gt .Params.repo_count 0) (gt .Params.service_count 0) }}
                        <tr>
                            <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
                            <td>{{ .Description }}</td>
                            <td class="number">{{ .Params.repo_count }}</td>
                            <td class="number">{{ .Params.service_count }}</td>
                        </tr>
                    {{ end }}
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>
{{ end }}