{{ define "main" }}
  <div class="row">
    <div class="col">
      <h1 class="page-title">Function: {{ .Title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{ .Content }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{ $repositories := (where .Site.RegularPages ".Params.repository_id" "in" .Params.repositories ) }}
      <h3>Repositories providing this function</h3>
      {{ partial "repositories_table" $repositories }}
    </div>
    <div class="col">
      {{ $services := (where .Site.RegularPages ".Params.service_id" "in" .Params.services ) }}
      <h3>Services providing this function</h3>
      {{ partial "services_table" $services }}
    </div>
  </div>
{{ end }}
