{{ define "main" }}
    <div class="row">
        <div class="col">
            <h1 class="page-title">{{ .Title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ .Content }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-sm table-striped sortable-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Repositories</th>
                </tr>
                </thead>
                <tbody>
                {{ range .Data.Pages }}
                    <tr>
                        <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
                        <td class="number">{{ .Params.repo_count }}</td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>
{{ end }}