{{ define "main" }}
    <div class="row">
        <div class="col">
            <h1 class="page-title">Service: {{ .Title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ .Content }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ $functions := (where .Site.RegularPages ".Params.function_id" "in" .Params.functions ) }}
            <h3>Functions provided by this service</h3>
            {{ partial "functions_table" $functions }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ $repositories := (where .Site.RegularPages ".Params.repository_id" "in" .Params.repositories ) }}
            <h3>Repositories using this service</h3>
            {{ partial "repositories_table" $repositories }}
        </div>
    </div>
{{ end }}