<table id="countriesTable" class="table table-sm table-striped">
    <thead>
    <tr class="column-header-row">
        <th>Name</th>
        <th class="no-sort">&nbsp;</th>
        <th>Continent</th>
        <th>Repositories</th>
    </tr>
    </thead>
    <tbody>
    {{ range . }}
        <tr>
            <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
            <td><img src="/images/flags/{{.File.ContentBaseName}}.png" class="countries_list_table_flag"/></td>
            <td>{{ .Params.continent }}</td>
            <td class="number">{{ .Params.repo_count }}</td>
        </tr>
    {{ end }}
    </tbody>
</table>