{{ $currentPage := . }}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        {{/*        <a class="navbar-brand" href="#">Navbar</a>*/}}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{ range site.Menus.navbar }}
                    {{ if or (eq $currentPage.Permalink .URL) (eq $currentPage.Section .Identifier) }}
                        <li class="nav-item selected"><a class="nav-link active" href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ else }}
                        <li class="nav-item"><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>
</nav>