{{ $currentPage := . }}
{{/*<div class="doapr-navbar">*/}}
{{/*    <div class="row">*/}}
{{/*        <div class="col">*/}}
{{/*            <ul>*/}}
{{/*                {{ range site.Menus.navbar }}*/}}
{{/*                    {{ if or (eq $currentPage.Permalink .URL) (eq $currentPage.Section .Identifier) }}*/}}
{{/*                        <li class="selected"><a href="{{ .URL }}">{{ .Name }}</a></li>*/}}
{{/*                    {{ else }}*/}}
{{/*                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>*/}}
{{/*                    {{ end }}*/}}
{{/*                {{ end }}*/}}
{{/*            </ul>*/}}
{{/*        </div>*/}}
{{/*        */}}{{/*        <div class="col">*/}}
{{/*        */}}{{/*            <form action="/search" method="get">*/}}
{{/*        */}}{{/*                <input class="form-control-sm" type="text" name="q" placeholder="quick search...."/>*/}}
{{/*        */}}{{/*            </form>*/}}
{{/*        */}}{{/*        </div>*/}}
{{/*    </div>*/}}
{{/*</div>*/}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        {{/*        <a class="navbar-brand" href="#">Navbar</a>*/}}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{ range site.Menus.navbar }}
                    {{ if or (eq $currentPage.Permalink .URL) (eq $currentPage.Section .Identifier) }}
                        <li class="nav-item selected"><a class="nav-link active" href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ else }}
                        <li class="nav-item"><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                {{ end }}
            </ul>
            {{/*            <ul class="navbar-nav me-auto mb-2 mb-lg-0">*/}}
            {{/*                {{ if eq $currentPage.Permalink "/" }}*/}}
            {{/*                    <li class="nav-item selected"><a class="nav-link active" href="/">Home</a></li>*/}}
            {{/*                {{ else }}*/}}
            {{/*                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>*/}}
            {{/*                {{ end }}*/}}
            {{/*                {{ if eq $currentPage.Permalink "/about" }}*/}}
            {{/*                    <li class="nav-item selected"><a class="nav-link active" href="/about">About</a></li>*/}}
            {{/*                {{ else }}*/}}
            {{/*                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>*/}}
            {{/*                {{ end }}*/}}

            {{/*                <li class="nav-item dropdown">*/}}
            {{/*                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">*/}}
            {{/*                        Tables*/}}
            {{/*                    </a>*/}}
            {{/*                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">*/}}
            {{/*                        {{ range site.Menus.navbar }}*/}}
            {{/*                            <li><a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a></li>*/}}
            {{/*                        {{ end }}*/}}
            {{/*                    </ul>*/}}
            {{/*                </li>*/}}
            {{/*            </ul>*/}}
        </div>
    </div>
</nav>