<table id="platformsTable" class="table table-sm table-striped">
    <thead>
    <tr class="column-header-row">
        <th>Name</th>
{{/*        <th>Description</th>*/}}
        <th>Source Code</th>
        <th>License</th>
        <th>Repositories</th>
    </tr>
    </thead>
    <tbody>
    {{ range . }}
        <tr>
            <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
{{/*            <td>{{ .Description }}</td>*/}}
            <td>{{ .Params.source_code }}</td>
            <td>{{ .Params.license }}</td>
            <td class="number">{{ .Params.repo_count }}</td>
        </tr>
    {{ end }}
    </tbody>
</table>