<table class="table sortable-table table-sm table-striped sortable-table">
    <thead>
    <tr class="column-header-row">
        <th>Name</th>
        <th>Status</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {{ range . }}
        <tr>
            <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
            <td>
                {{ with .Params.status }}
                    {{ partial "link_to_status" . }}
                {{ end }}
            </td>
            <td>{{ .Description}}</td>
        </tr>
    {{ end }}
    </tbody>
</table>