{{ define "main" }}
    <div class="row">
        <div class="col">
            <h1 class="page-title">{{ .Title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ .Content }}
        </div>
    </div>
    <div class="row">
        <div class="col">
{{/*            {{ partial "world_map" .Data.Pages }}*/}}
{{/*            <br/>*/}}
            <table id="countriesTable" class="sortable-table table table-sm table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th class="no-sort">&nbsp;</th>
                    <th>Continent</th>
                    <th>Repositories</th>
                </tr>
                </thead>
                <tbody>
                {{ range .Data.Pages }}
                    <tr>
                        <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
                        {{ if .Params.code }}
                            <td><img src="/images/flags/{{.Params.code | lower}}.png" class="countries_list_table_flag"/></td>
                        {{ else }}
                            <td><img src="/images/flags/_unknown.png" class="countries_list_table_flag"/></td>
                        {{ end }}
                        <td>{{ .Params.continent }}</td>
                        <td class="number">{{ .Params.repo_count }}</td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>
{{ end }}