<div class="scrollable-tab-content">
    <table class="invisible-layout-table">


        <tr>
            <td class="field-name">
                Academic Applicant Only?:
            </td>
            <td>
                {{ .Params.academic_applicant_only }}
            </td>
        </tr>
        <tr>
            <td class="field-name">
                Accepted Content Formats:
            </td>
            <td>
                {{ .Params.accepted_content_formats }}
            </td>
        </tr>
        <tr>
            <td class="field-name">
                Accepted Content Languages:
            </td>
            <td>
                {{ .Params.accepted_content_languages }}
            </td>
        </tr>
        <tr>
            <td class="field-name">
                Accepted Content Level:
            </td>
            <td>
                {{ .Params.accepted_content_level }}

            </td>
        </tr>
        <tr>
            <td class="field-name">
                Accepted Supplementary Content:
            </td>
            <td>
                {{ .Params.accepted_supplementary_content }}
            </td>
        </tr>
        <tr>
            <td class="field-name">
                Associated Editor:
            </td>
            <td>
                {{ .Params.associated_editor }}
            </td>
        </tr>
        <tr>
            <td class="field-name">
                Associated Journal:
            </td>
            <td>
                {{ .Params.associated_journal }}
            </td>
        </tr>
        <tr>
            <td class="field-name">
                Author PID:
            </td>
            <td>
                {{ .Params.author_pid }}
            </td>
        </tr>
        <tr>
            <td class="field-name">
                Availability of Associated Content:
            </td>
            <td>
                {{ .Params.availability_of_associated_content }}
            </td>
        </tr>
        <tr>
            <td class="field-name">
                Journal Submission:
            </td>
            <td>
                {{ .Params.journal_submission }}
            </td>
        </tr>
        <tr>
            <td class="field-name">
                Licensing:
            </td>
            <td>
                {{ .Params.licensing }}
            </td>
        </tr>
        <tr>
            <td class="field-name">
                Mechanisms to Report Concerns About Content:
            </td>
            <td>
                {{ .Params.mechanisms_to_report_concerns_about_content }}
            </td>
        </tr>
        <tr>
            <td class="field-name">
                Mechanisms to Report Concerns About Plagiarism:
            </td>
            <td>
                {{ .Params.mechanisms_to_report_concerns_about_plagiarism }}
            </td>
        </tr>
        <tr>
            <td class="field-name">
                Moderation:
            </td>
            <td>
                {{ .Params.moderation }}
            </td>
        </tr>
        <tr>
            <td class="field-name">
                Peer Review Status Indication:
            </td>
            <td>
                {{ .Params.peer_review_status_indication }}
            </td>
        </tr>
        <tr>
            <td class="field-name">
                Persistent Identifier:
            </td>
            <td>
                {{ .Params.persistent_identifier }}
            </td>
        </tr>
        <tr>
            <td class="field-name">
                Remaining Indrawn Item:
            </td>
            <td>
                {{ .Params.remining_indrawn_item }}
            </td>
        </tr>
        <tr>
            <td class="field-name">
                Text Embargo:
            </td>
            <td>
                {{ .Params.text_embargo }}
            </td>
        </tr>
        <tr>
            <td class="field-name">
                Time from Submission to Posting:
            </td>
            <td>
                {{ .Params.time_from_submission_to_posting }}
            </td>
        </tr>
        <tr>
            <td class="field-name">
                Versioning Policy:
            </td>
            <td>
                {{ .Params.versioning_policy }}
            </td>
        </tr>
        <tr>
            <td class="field-name">
                WhO can Deposit?:
            </td>
            <td>
                {{ .Params.who_can_deposit }}
            </td>
        </tr>
        <tr>
            <td class="field-name">
                Withdrawal Authorisation:
            </td>
            <td>
                {{ .Params.withdrawal_authorisation }}
            </td>
        </tr>
        <tr>
            <td class="field-name">
                Withdrawal Policy:
            </td>
            <td>
                {{ .Params.withdrawal_policy }}
            </td>
        </tr>
    </table>
</div>