<table class="invisible-layout-table">
    <tr>
        <td class="field-name">
            Accessibility of Conflict of Interest Procedures:
        </td>
        <td>
            {{ .Params.accessibility_of_conflict_of_interest_procedures }}
        </td>
    </tr>
    <tr>
        <td class="field-name">
            Business Model:
        </td>
        <td>
            {{ with .Params.business_model }}
                {{ partial "link_to_business_model" . }}
            {{ end }}
        </td>
    </tr>
    <tr>
        <td class="field-name">
            Funding:
        </td>
        <td>
            {{ .Params.funding }}
        </td>
    </tr>
    <tr>
        <td class="field-name">
            Objectives:
        </td>
        <td>
            {{ .Params.objectives }}
        </td>
    </tr>
    <tr>
        <td class="field-name">
            Countries:
        </td>
        <td>
            {{ with .Params.countries }}
                {{ $countries := slice }}
                {{ $countryLinks := slice }}
                {{ range . }}
                    {{ $country := ($.GetPage (print "/countries/" . )) }}
                    {{ $countries = $countries | append $country }}
                    {{ $countryLinks = $countryLinks | append (print "<a href=\"" $country.Permalink "\">" $country.Title "</a>") }}
                {{ end }}
                {{ delimit $countryLinks ", "}}
            {{ end }}
        </td>
    </tr>
    <tr>
        <td class="field-name">
            Owner Full Name:
        </td>
        <td>
            {{ .Params.owner_full_name }}
        </td>
    </tr>
    <tr>
        <td class="field-name">
            Owner Short Name:
        </td>
        <td>
            {{ .Params.owner_short_name }}
        </td>
    </tr>
    <tr>
        <td class="field-name">
            Owner URL:
        </td>
        <td>
            {{ .Params.owner_url }}
        </td>
    </tr>
    <tr>
        <td class="field-name">
            Ownership Type:
        </td>
        <td>
            {{ .Params.ownership_type }}
        </td>
    </tr>
    <tr>
        <td class="field-name">
            Scientific Technical Committees:
        </td>
        <td>
            {{ .Params.scientific_committees }}
        </td>
    </tr>
    <tr>
        <td class="field-name">
            User Committees:
        </td>
        <td>
            {{ .Params.user_committees }}
        </td>
    </tr>
</table>