{{ $functionsList := where (where site.RegularPages "Section" "functions") "Params.repo_count" ">" 0 }}
<h4 class="table-caption">Support for Open Science</h4>
<table class="table sortable-table table-sm table-striped" id="repositories-functions">
    <thead>
    <tr>
        <th>Name</th>
        <th>Service<br/>Pricing</th>
        <th>Owner<br/>Type</th>
        <th>Funding</th>
        <th>Business<br/>Model</th>
        <th>Objectives</th>
        <th>Accepted<br/>Format(s)</th>
        <th>Submission<br/>Time</th>
        <th class="yes-no">
            <div class="hover-over">
                <div class="vertical-text">Terms of Use</div>
                <span class="hover-over-text">Terms of Use</span>
            </div>
        </th>
        <th class="yes-no">
            <div class="hover-over">
                <div class="vertical-text">Certification</div>
                <span class="hover-over-text">Certificates or Labels</span>
            </div>
        </th>
        <th class="yes-no">
            <div class="hover-over">
                <div class="vertical-text">User Committee</div>
                <span class="hover-over-text">Has User Committee(s)</span>
            </div>
        </th>
        <th class="yes-no">
            <div class="hover-over">
                <div class="vertical-text">Scientific Committee</div>
                <span class="hover-over-text">Has Scientific/Technical Committee(s)</span>
            </div>
        </th>
        <th class="yes-no">
            <div class="hover-over">
                <div class="vertical-text">Conflict of Interest Procedures</div>
                <span class="hover-over-text">Accessibility of Conflict of Interest Procedures</span>
            </div>
        </th>
        <th class="yes-no">
            <div class="hover-over">
                <div class="vertical-text">Access to Content</div>
                <span class="hover-over-text">Access to Content</span>
            </div>
        </th>
        <th class="yes-no">
            <div class="hover-over">
                <div class="vertical-text">Access to Metadata</div>
                <span class="hover-over-text">Access to Metadata</span>
            </div>
        </th>
        <th class="yes-no">
            <div class="hover-over">
                <div class="vertical-text">Preservation policy</div>
                <span class="hover-over-text">Has Preservation policy</span>
            </div>
        </th>
        <th class="yes-no">
            <div class="hover-over">
                <div class="vertical-text">Writing Support</div>
                <span class="hover-over-text">Service Providing Support for Writing</span>
            </div>
        </th>
        <th class="yes-no">
            <div class="hover-over">
                <div class="vertical-text">Revision Support</div>
                <span class="hover-over-text">Service Providing Support for Revision</span>
            </div>
        </th>
        <th class="yes-no">
            <div class="hover-over">
                <div class="vertical-text">Peer-review Support</div>
                <span class="hover-over-text">Service Providing Support for Peer-review</span>
            </div>
        </th>
        <th class="yes-no">
            <div class="hover-over">
                <div class="vertical-text">Commenting Support</div>
                <span class="hover-over-text">Service Providing Support for Commenting</span>
            </div>
        </th>
        <th class="yes-no">
            <div class="hover-over">
                <div class="vertical-text">Endorsement Support</div>
                <span class="hover-over-text">Service Providing Support for Endorsement</span>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    {{ range . }}
        <tr>
            <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
            <td>{{ .Params.service_pricing | truncate 100 }}</td>
            <td>{{ .Params.ownership_type }}</td>
            <td>{{ .Params.funding }}</td>
            <td>
                {{ $businessModel := site.GetPage (print "/business_models/" .Params.business_model) }}
                {{ $businessModel.Title }}
            </td>
            <td>
                {{ with .Params.objectives }}
                    {{ . | truncate 100 }}
                {{end }}
            </td>
            <td>{{ .Params.accepted_content_formats }}</td>
            <td>{{ .Params.time_submission_to_posting }}</td>
            <td>{{ partial "repositories_tables/parameter_yes_no" (dict "parameterValue" .Params.terms_of_use) }}</td>
            <td>{{ partial "repositories_tables/parameter_yes_no" (dict "parameterValue" .Params.certificate_or_labels) }}</td>
            <td>{{ partial "repositories_tables/parameter_yes_no" (dict "parameterValue" .Params.user_committees_binary) }}</td>
            <td>{{ partial "repositories_tables/parameter_yes_no" (dict "parameterValue" .Params.scientific_committees_binary) }}</td>
            <td>{{ partial "repositories_tables/parameter_yes_no" (dict "parameterValue" .Params.accessibility_conflict_interest_procedures) }}</td>
            <td>{{ partial "repositories_tables/parameter_yes_no" (dict "parameterValue" .Params.access_to_content) }}</td>
            <td>{{ partial "repositories_tables/parameter_yes_no" (dict "parameterValue" .Params.access_to_metadata) }}</td>
            <td>{{ partial "repositories_tables/parameter_yes_no" (dict "parameterValue" .Params.preservation_policy) }}</td>
            <td>
                {{ partial "repositories_tables/function_yes_no" (dict "function_id" "writing" "repository_id" .Params.repository_id) }}
            </td>
            <td>
                {{ partial "repositories_tables/function_yes_no" (dict "function_id" "revision" "repository_id" .Params.repository_id) }}
            </td>
            <td>
                {{ partial "repositories_tables/function_yes_no" (dict "function_id" "peer-review" "repository_id" .Params.repository_id) }}
            </td>
            <td>
                {{ partial "repositories_tables/function_yes_no" (dict "function_id" "commenting" "repository_id" .Params.repository_id) }}
            </td>
            <td>
                {{ partial "repositories_tables/function_yes_no" (dict "function_id" "endorsement" "repository_id" .Params.repository_id) }}
            </td>
        </tr>
    {{ end }}
    </tbody>
</table>