{{ define "main" }}
    <div class="row">
        <div class="col">
            <h1 class="page-title">Repository: {{ .Title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="text-end">
                {{ partial "feedback/feedback_update_existing_repo" . }}
            </div>
            {{ .Content }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active tab-general" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home", aria-selected="true">
                        General
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link tab-governance" id="governance-tab" data-bs-toggle="tab" data-bs-target="#governance" type="button" role="tab" aria-controls="governance", aria-selected="false">
                        Governance
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link tab-features" id="features-tab" data-bs-toggle="tab" data-bs-target="#features" type="button" role="tab" aria-controls="features", aria-selected="false">
                        Features &amp; Functions
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link tab-editorial" id="editorial-tab" data-bs-toggle="tab" data-bs-target="#editorial" type="button" role="tab" aria-controls="editorial", aria-selected="false">
                        Editorial
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="tabContent">
                <div class="tab-pane fade show active tab-general" id="home" role="tabpanel" aria-labelledby="home-tab">
                    {{ partial "repository_single/general" . }}
                </div>
                <div class="tab-pane fade tab-governance" id="governance" role="tabpanel" aria-labelledby="governance-tab">
                    {{ partial "repository_single/governance" . }}
                </div>
                <div class="tab-pane fade tab-features" id="features" role="tabpanel" aria-labelledby="features-tab">
                    {{ partial "repository_single/features" . }}
                </div>
                <div class="tab-pane fade tab-editorial" id="editorial" role="tabpanel" aria-labelledby="editorial-tab">
                    {{ partial "repository_single/editorial" . }}
                </div>
            </div>
        </div>
    </div>
{{ end }}